.App {
  text-align: center;

}

.row {
  display: flex;
  justify-content: center;
}

body {
  background-image: url(https://besthqwallpapers.com/Temp/14-5-2022/4k-winter-frozen-lake-forest-sunset-besthqwallpapers.com-2048x1536.jpg);

}
