.card {
  margin: 20px;
  width: 18rem;
  background: rgba(0,0, 0, 0.3);
  backdrop-filter: blur(8px);
  transition: all ease 0.5s;
  
}

.card-title {
  margin-bottom: 15px;
  
}

#closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 8px;
}

.card-body {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.card:hover {
  background: rgba(5,5,5, 0.3);
  backdrop-filter: blur(8px);
  width: 19rem;
  margin: 13px;
}
